    #section1{
        background-image:url(../image/nathan-van-de-graaf-X72JnYrwdTc-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .iconsr{
        font-size: 30px;
        margin-right: 10px;
    }
    .section-content{
    /*border:1px solid #F00;*/
      width:80%;
      margin:0 auto;
      text-align:center;
    }
    h1 i.fa{
    font-size:3em;
    color:#FFF;
    transition:all 0.3s ease-in-out;
    }
    i.fa:hover{
    color:#66ffcc;
    cursor:pointer;
    transform:scale(1.2) rotate(10deg);
    }
    .slide{
    background-size:cover;
      background-position:center;
    }   
    #section4{
    background-color:#999; 
    }
    #fp-nav ul li a span {
      background-color: #f00;
    }
    
    .fp-slidesNav ul li a span {
      margin-bottom: 100px;
      background-color: #fff;
    }